/* Container Styling */
.det-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: antiquewhite;
}

.details-wrapper {
    display: flex;
    width: 100%;
}

/* Image Division Styling */
.details-left {
    flex: 1;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding-right: 20px;
}

.details-right {
    flex: 1;
    align-items: center; 
    justify-content: center;
    text-align: left; 
}

/* Image Styling */
.details-left img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Headings Styling */
.det-container h2, .det-container h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Paragraphs Styling */
.det-container p {
    margin: 10px 0;
    color: #555;
}

/* Link Styling */
.det-container a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.det-container a:hover {
    color: #0056b3;
}

/* Button Styling */
.det-container button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.det-container button:hover {
    background-color: #0056b3;
}

.disclaimer {
    margin: 20px 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-style: italic;
    font-size: 0.9em;
    text-align: center; 
    max-width: 100%; 
}

.petlistings-link {
    display: block;
    margin-bottom: 20px;
    color: blue;
    text-decoration: none;
    text-align: left;
    transition: color 0.3s ease;
}

.petlistings-link:hover {
    color: rgb(3, 3, 132);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .details-wrapper {
        flex-direction: column;
    }
    
    /* Image Division Styling */
    .details-left {
        flex: 1;
        
    }
    
    .details-right {
        flex: 2;
        text-align: center; 
    }
}