.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
}

.search {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.search input {
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    background-color:  #f0f0f0;
    border: 1px solid #ccc;
    width: 30%;
}

.map-btn {
    padding: 5px;
    background-color: #f0f0f0;
    border-color: black;
    margin: 10px 0;
}

.map-btn:hover {
    background-color: #c8c6c6;
}

.service-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: minmax(220px, 1fr);
    gap: 30px;
    padding: 20px;
}

.service-listing-item {
    border: 1px solid black;
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.4s ease;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-listing-item:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.service-card a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card a:hover h3{
    text-decoration: underline; 
    color: rgb(7, 7, 137);  
}

.location {
    display: inline-block;
    align-self: flex-end;
}

.description {
    margin-top: -10px;
}
@media screen and (min-width: 600px) {
    .service-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .service-card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .service-card {
        grid-template-columns: repeat(4, 1fr);
    }
}