/* SPBooking Container */
.spbooking-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.spbooking-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Loading and Empty States */
.loading-message,
.no-bookings-message {
    text-align: center;
    margin: 20px 0;
}

/* Booking Details */
.booking-details {
    background-color:  #f7f7f7;
    border: 1px solid #e1e1e1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.booking-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.booking-details ul li {
    margin: 5px 0;
    color: #555;
    font-size: 16px;
}

/* Remove Booking Button */
.remove-booking-btn {
    padding: 8px 12px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-booking-btn:hover {
    background-color: #970b09;
}

/* Link to Dashboard */
.dashboard-link {
    display: block;
    margin-bottom: 20px;
    color: blue;
    text-decoration: none;
    text-align: left;
    transition: color 0.3s ease;
}

.dashboard-link:hover {
    color: rgb(3, 3, 132);
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .spbooking-container {
        width: 90%;
        padding: 10px;
    }

    .booking-details ul li {
        font-size: 14px;
    }
}
