.spservice-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid black;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.spservice-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.no-services-message {
    text-align: center;
    margin: 20px 0;
}

.service-details {
    background-color:  #f7f7f7;
    border: 1px solid #e1e1e1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.service-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.service-details ul li {
    margin: 5px 0;
    color: #555;
    font-size: 16px;
}

.service-details h2 {
    margin-top: -5px;
}
.remove-service-btn {
    padding: 8px 12px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-service-btn:hover {
    background-color: #970b09;
}

.dashboard-link {
    display: block;
    margin-bottom: 20px;
    color: blue;
    text-decoration: none;
    text-align: left;
    transition: color 0.3s ease;
}

.dashboard-link:hover {
    color: rgb(3, 3, 132);
    text-decoration: underline;
}

.add-service-link {
    display: block;
    text-align: right;
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.add-service-link:hover {
    color: rgb(3, 3, 132);
    text-decoration: overline;
}

@media (max-width: 768px) {
    .spservice-container {
        width: 90%;
        padding: 10px;
    }

    .service-details ul li {
        font-size: 14px;
    }
}
