h1 {
	font-size: 24px;
}
input {
	padding: 0.4rem;
	width: 250px;
	margin: auto;
}
.main_form {
	width: 300px;
	height: 200px;
	box-shadow: 0px 0px 10px 0px #000000;
	border-radius: 25px;
	margin: auto;
}
.form_inp {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.login_button {
	padding: 0.6rem;
	background-color: rgb(131, 115, 95);
	width: 100px;
	margin: auto;
	border: 0px;
	border-radius: 10px;
}
