* {
	/* Define the standard properties first */
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(100, 50, 21, 6);
  
	/* Then define the vendor-prefixed versions */
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(100, 50, 21, 6);
	-moz-transition-property: all;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
  }
.logo {
	height: 40px;
	width: 40px;
	margin-left: 10px;
	color: white;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	background-color: #1b1b2b;
}
.btn {
	color: white;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px 40px;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.btn:hover {
	border: none;
	background: rgba(0, 0, 0, 0.4);
	background: #fff;
	padding: 40px 40px;
	color: #1b1b1b;
}
